<!DOCTYPE html>
<html lang="pt-br" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Login</title>    

    <!-- Custom styles for this template-->
    <link th:href="@{/stylesheets/login.css}" rel="stylesheet">

    <!-- Icon Favicon-->
    <link rel="shortcut icon" th:href="@{/images/iconInfomania.ico}" />

</head>

<body>

    <div class="container">
        <div class="container-login">
            <div class="wrap-login">            	
                <form class="login-form" th:action="@{/login}" method="POST">
                    <span class="login-form-title">
                        FORT METAIS
                    </span>
					<div class="container" th:if="${#bools.isTrue(param.error)}" 
						style="text-align: center; color: #fa4738; margin-top: 5px">
						O e-mail e/ou senha não conferem
					</div>
                    <div class="wrap-input margin-top-35 margin-bottom-35">
                        <input class="input-form" type="text" name="username" autocomplete="off">
                        <span class="focus-input-form" data-placeholder="E-mail"></span>
                    </div>

                    <div class="wrap-input margin-bottom-35">
                        <input class="input-form" type="password" name="password">
                        <span class="focus-input-form" data-placeholder="Senha"></span>
                    </div>

                    <div class="container-login-form-btn">
                        <button class="login-form-btn">
                            Login
                        </button>
                    </div>
                   
                </form>
            </div>
            <img th:src="@{/images/icone_logo.png}" width="300" height="300" class="margin-left-50"/>
        </div>
    </div>

    <script>
        let inputs = document.getElementsByClassName('input-form');
        for (let input of inputs) {
            input.addEventListener("blur", function () {
                if (input.value.trim() != "") {
                    input.classList.add("has-val");
                } else {
                    input.classList.remove("has-val");
                }
            });
        }
    </script>

</body>

</html>