<!DOCTYPE html>
<html lang="pt-br" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:data="http://www.thymeleaf.org/extras/data">

<div class="col-sm-10 offset-sm-1" id="tabelaItensProdutos">
    <div class="card border-left-primary shadow h-100 py-2">
        <table class="card-body">
            <div class="row no-gutters">
                <thead>
                    <tr>                       
                        <th class="text-center text-lg text-primary">Produto</th>
                        <th class="text-center text-lg text-primary">Peso</th>
                        <th class="text-center text-lg text-primary">Tara</th>
                        <th class="text-center text-lg text-primary">Peso Líquido</th>
                        <th class="text-center text-lg text-primary"></th>
                        <th class="text-center text-lg text-primary"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="conteudo : ${listaVolumes}">                       
                      	<td class="text-center font-weight-bold" th:text="|${{conteudo.produtoTemporario}}|"></td>
                        <td class="text-center font-weight-bold" th:text="|${{conteudo.pesoBruto}}|"></td>
                        <td class="text-center font-weight-bold" th:text="|${{conteudo.pesoTara}}|"></td>
                        <td class="text-center font-weight-bold" th:text="|${{conteudo.getPesoLiquidoTotal}}|"></td>
                        <td class="text-center font-weight-bold" th:text="|${{conteudo.totalLiquido}}|"></td>
                        <td class="text-center font-weight-bold">
                            <i class="fa fa-cog fa-2x text-gray-300 text-success"></i>
                        </td>
                    </tr>
                </tbody>
            </div>
        </table>
    </div>
</div>

</html>